body{
    background-image:url("https://i.pinimg.com/originals/be/a5/e6/bea5e6ad4ab5d5340413be91897e8418.jpg");
    /* https://st.depositphotos.com/1561609/60266/i/450/depositphotos_602664170-stock-photo-leaf-corner-border-hand-drawn.jpg */
                      
  }
  .img
  {
     width:85%;
     margin-top:-5%;
  }
    .card
    {
        box-shadow:0px 1px 4px;
        margin-left:2%;
        width:95%;
    }
    .card-body
    {
        margin-top:5%;
        padding:5%;
        margin-bottom:5%;
    }
   .card-title
   {
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-indent:65%;
     margin-top:-36%;
   }
   .card-text
   {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   #logo_main
   {
    margin-left:90%;
    margin-top:-20%;
    padding:9%;
   }
   #logo1:hover{
    color:aquamarine;
   }
   #logo2:hover{
    color:aquamarine;
   }
   #logo3:hover{
    color:aquamarine;
   }
   #logo4:hover{
    color:aquamarine;
   }
   #logo1
   {
    padding:10%;
   }
   #logo2
   {
    padding:10%;
   }
   #logo3
   {
    padding:10%;
   }
   #logo4
   {
    padding:10%;
   }
   .card-text
   {
     text-indent:65%;
   }
   .card{
    margin-top:3%;
   }
   #inputs
   {
    border-style:solid;
    border-width:1px;
    margin-left:55%;
    padding:1%;
    width:400px;
   }
   #inputs1
   {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style:hidden;
    padding:2%;
    width:350px;
    outline:none;
   }
   #submit
   {
    border-style:solid;
    border-width:1px;
    margin-left:55%;
    padding:1%;
    width:400px;
    margin-top:-5%;
   }
   #hr
   {
    position:absolute;
    transform:rotate(90deg);
    margin-top:9%;
    width:17%;
    margin-left:81.5%;
   }
   #hr1
   {
    position:absolute;
    transform:rotate(90deg);
    margin-top:-24.5%;
    width:13%;
    margin-left:83%;
   }